//VARIABLES
$dark_grey: rgb(108,114,117);

$dark_text_grey: rgb(41,47,49);

$light_grey: rgb(176, 176, 176);
// GLOBALS

    html, body,  {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
    }

.mini-features-icon{
    margin-top: 5px;
    height: 18px;
    margin-right: 3px;
    }  
.container_width_standard{
    width: 75%;
    margin: auto;

}
.small_grey{
    color: rgb(176, 176, 176);
    font-size: 11px;
    text-align: center;
    line-height: 150%;
}
.small_blue_text{
    color: rgb(98, 160, 213);
    text-align: center;
    font-size: 14px;
}

.white_text{
    color:rgb(227, 227, 227);
    line-height: 160%;
}

.dark_text{
    color: rgb(41,47,49);
    font-size: 14px !important;
    line-height: 100%;
}
.dark_body_text{
    color: rgb(149, 149, 149);
    font-size: 13px !important;
    line-height: 140% !important;
}
div{
    font-family: Arial, Helvetica, sans-serif
}
.blue_button{
    height: 40px;
    width: 160px;
    background: rgb(43, 125, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    flex-direction: column;
    div{
        background: rgb(84, 170, 241);
        height: 20px;
        width: 158px;
        border-radius: 20px;
        align-self: flex-start;
        margin-top:2px;
        text-align: center;
        margin-bottom: -10px;
        padding-bottom: 10px;
    }
    span {
        margin-bottom: 8px;
        
    }
}
.blue_button_image{
    height: 40px;
    width: 190px;
    background: rgb(43, 125, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    flex-direction: column;
    margin-left: 8px;
    margin-bottom: 15px;
    .light_blue_section{
        background: rgb(84, 170, 241);
        height: 20px;
        width: 188px;
        border-radius: 20px;
        align-self: flex-start;
        margin-top:2px;
        text-align: center;
        margin-bottom: -10px;
        padding-bottom: 10px;
       
    }
    span {
        margin-bottom: 0px;
        
    }
    .title_image_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11px;
    }
}

.lrg_dark_text{
    color: rgb(74, 89, 94);
    margin-bottom: -5px;
}
.blue_title{
    color: rgb(64, 156, 237) !important;
    font-size: 14px !important;
    margin-bottom: 5px;
}
//APP
.app_test{
    background:  linear-gradient(to right, rgb(255, 255, 255), rgb(231,231,231));;
  
  }
  
// HEADER
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 5px;
}
.header_logo{
    width: 160px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: -10px;
}
.header_google_logo{
    width: 140px;
    align-self: flex-end;
}
.header_divider_line{
    width: 63vw;
    height: 1px;
    background: rgb(212, 212, 212);
    margin-top: 2px;

}
.header_google_container{
    display: flex;
    flex-direction: column;

}
.header_nav_container{
    display: flex;
    color: $dark_grey;
    align-self: flex-end;
    margin: 10px 0;
}
.header_nav_item{
    margin: 0 8px;
    font-size: 13px;
}
.header_nav_icons{
    height: 13px;
    margin-right: 5px;

}
// FEATURE
.featured_image_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured_image{
    width: 100%;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    margin:auto;
    margin-top: 5px;
}

.featured_slider_circles_container{
    margin: 10px;
    display: flex;
    justify-content: center;
    div{
        height: 16px;
        width: 16px;
        background: white;
        margin: 10px 3px;
        border-radius: 20px;
        box-shadow: inset 0px 1px 1px rgba(127, 127, 127, 0.5)
    }
}
#selected_slider{
    background: rgb(78, 78, 78);
}

//BANNER
.banner_main_container{
    height: 230px;
    width:100%;
    background: black;
    margin: auto;
}

.darkLogo{
    height: 52px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(33, 33, 33);
    padding-bottom: 3px;
}
.banner_body{
    display: flex;
    width: 800px;
    
}
.banner_title_main{
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 5px;
}
.banner_text{
    font-size: 12px;
    font-weight: lighter;
    margin-right: 27px;


}
.list_title{
    margin-top: 7px;
}
.list_item{

    font-size: 12px;
    font-weight: lighter;
}
.banner-rectangle{
    width: 70px;
    margin-top: -7px;
    height: 100px;
    background: rgb(217, 217,217);
}
.banner_list_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 160px;
    

}
.blue_item{
    color: rgb(6, 79, 141);
    font-size: 14px;
    line-height: 100%;
}
.green_item{
    color: rgb(62,125,47);
    font-size: 14px;
    line-height: 100%;
}

.banner_right_body{
    border-bottom: 1px solid rgb(33, 33, 33);
    padding-bottom: 3px;
    height: 110px;
     div{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
     }
}
.banner_second_container{
    display: flex;
    flex-direction: column;

}
.banner_solutions{
    color: rgb(65, 76, 79);
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 22px;
}

//MINI FEATURES
.min_logo{
    height: 40px;
    margin: 15px;
    margin-left: 27px;
}
.mini_top_container{
    display: flex;
    align-items: center;
    div{
        font-size: 21px;
        font-weight: lighter;
    }
}
.image_sizing{
    width: 220px;
}

.top_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(168, 168, 168);
}
.social_container{
    display: flex;
    align-items: center;
    color: rgb(195, 195, 195);
    font-size: 13px;
    font-weight: lighter;
    margin-right: 8px;
    img{
        margin-left: 10px;

    }
}
.bottom_section{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(168, 168, 168);
    padding-bottom: 30px;
    div{
    width: 220px;
    font-size: 12px;
    text-align: justify;
    line-height: 140%;
    }
    img{
        box-shadow: 0 0 10px rgb(207, 207, 207);
    }
}
//CONTENT
.bottom_section_seo{
    display: flex;
    padding-bottom: 30px;
    width: 75%;
    img{
        box-shadow: 0 0 10px rgb(207, 207, 207);
        border: 1px solid rgb(205, 205, 205);
        width: 238px;
    }
}
.column_small_seo{
    
        width: 240px;
        font-size: 12px;
        text-align: justify;
        line-height: 140%;
        margin-right: 38px;
        }
.right_container_content{
    background: white;
    width: 233px;
    height: 418px;
    box-shadow: 0 0 10px rgb(207, 207, 207);
    border: 1px solid rgb(205, 205, 205);
    padding: 7px;
}
.column_layout{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.column_layout_body{
    width: 800px;
    flex-wrap: wrap;
}
.full_width_seo{
    width: 800px;
    line-height: 140%;
    text-align: justify;
}
.seo_content_logo{
    width: 160px;
    margin-top: 8px;

}
.right_column_sub_cont{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title_button_text{
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px;

}
.side_bar_body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 400px;
}
//FOOTER
.footer_image{
    width:100%;
    margin-bottom: -4px;
}
.footer_cont{
    margin-top: 10px;
}