
//PAGE
 .titan3-body{
    background:  linear-gradient(to right, rgb(255, 255, 255), rgb(231,231,231));;
  }
  div{
    font-family: Arial, Helvetica, sans-serif
 }
 .container_width_standard{
    width: 900px;
    margin: auto;
 }
//VARIABLES
 $dark_grey: rgb(108,114,117);

 $dark_text_grey: rgb(41,47,49);

 $light_grey: rgb(176, 176, 176);

 $light_bue: rgb(98, 160, 213);

 $dark_blue: rgb(43, 125, 193);

 $blue_title:rgb(64, 156, 237);

 $subtitle-text: 14px;

 $body-text: 13px;

// GLOBALS
 html, body,  {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
 }

//MIXINS
 @mixin s-width {
    width: 900px;
    margin: auto;
 }
 @mixin flex-col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
 }
 @mixin flex-col-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
    align-items: center;
 } 
 @mixin flex-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
 }
 @mixin flex-row-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    justify-content: center;
 }
 @mixin flex-row-sb-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    justify-content: space-between;
    align-items: center;
 }
 @mixin flex-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    justify-content: center;
    align-items: center
 }
 @mixin image-title-text{
    @include flex-col-center();
 }
 @mixin white-text{
    color:rgb(227, 227, 227);
    line-height: 160%;
 }



//HEADER
 .header_container{
    @include s-width();
    @include flex-row-sb-center();
    .header_logo{
        width: 160px;
        margin-top:-1px;
        margin-bottom: 3px;
        margin-right: 10px;
        margin-left: -10px;
        }
        .header_google_container{
            @include flex-col();
            .header_google_logo{
                width: 155px;
                align-self: flex-end;
                margin-bottom: 6px;
            }
            .header_divider_line{
                width: 750px;
                height: 1px;
                background: $light_grey;
  
                
            }
            nav{
                display: flex;
                color: $dark_grey;
                align-self: flex-end;
                margin: 10px 0;
                div{
                    margin: 0 7px;
                    font-size: 14px;
                    img{
                        height: 13px;
                        margin-right: 6px; 
                        }
                    }
                }
            }
        }

//FEATURED
 .featured_image_container{
    img{
        width: 100%;
        box-shadow: 0 0 10px $dark_grey;
    }
    div{
        margin: 7px;
        display: flex;
        justify-content: center;
        #selected_slider{
            background: $dark_grey;
        }
        div{
            height: 16px;
            width: 16px;
            background: white;
            margin: 10px 3px;
            border-radius: 20px;
            box-shadow: inset 0px 1px 1px $dark_grey;
        }
    }
 }

// BANNER
 .banner_main_container{
    height: 230px;
    width:100%;
    background: black;
    margin: auto;

    .banner_body{
        display: flex;
        width: 810px;

        div{

          h2{
            @include white-text();
            margin: 0;
            font-weight:normal;
            margin-top: 23px;
            font-size: 18px;
            }

            .banner_text{
                @include white-text();
                font-size: 12px;
                font-weight: lighter;
                margin-right: 25px;
            }
            
            .banner_list_container{
                @include flex-row-sb-center();
                margin-top: 15px;
                padding-left: 50px;
                padding-right: 160px;
                div{
                    .list_title{
                        @include white-text();
                        margin-top: 7px;
                        }
                    div{
                        @include white-text();
                        font-size: 12px;
                        font-weight: lighter;
                    }
                }
            }
        }
        
        .banner_second_container{
            @include flex-col();
            margin-right: 18px;
            .banner_right_body{
                border-bottom: 1px solid $dark_grey;
                padding-bottom: 3px;
                height: 110px;
                img{
                    height: 52px;
                    margin-top: 5px;
                    border-bottom: 1px solid $dark_grey;
                    padding-bottom: 3px;
                }
                 div{
                display: flex;
                justify-content: space-between;
                margin-left: 5px;
                .blue_item{
                    color: rgb(6, 79, 141);
                    font-size: 14px;
                    line-height: 120%;
                }
                .green_item{
                    color: rgb(62,125,47);
                    font-size: 14px;
                    line-height: 120%;
                }
                .dark_text{
                    color: rgb(41,47,49);
                    font-size: 14px;
                    line-height: 120%;
                }
                }
            }
            .banner_solutions{
                color: rgb(65, 76, 79);
                font-size: 18.5px;
                margin-top: 7px;
                margin-bottom: 22px;
            }
            .blue_button{
                height: 40px;
                width: 160px;
                background: rgb(43, 125, 193);
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 16px;
                border-radius: 7px;
                flex-direction: column;
                div{
                    background: rgb(84, 170, 241);
                    height: 20px;
                    width: 158px;
                    border-radius: 20px;
                    align-self: flex-start;
                    margin-top:2px;
                    text-align: center;
                    margin-bottom: -10px;
                    padding-bottom: 10px;
                }
                span {
                    margin-bottom: 8px;
                    
                }
            }
        }
    }
 }
 
// MINI FEATURES
 .mini_top_body{
    @include flex-row-sb-center();
    border-bottom: 1px solid rgb(168, 168, 168);
    .mini_top_container{
        display: flex;
        align-items: center;
        div{
            margin-left: 25px;
            letter-spacing: -1px;
            margin-top: 5px;
            font-size: 21px;
            font-weight: lighter;
            color:rgb(74, 89, 94);
        }
        img{
            height: 45px;
            margin: 6px;
            margin-left: 20px;
        }
        
    }
    .social_container{
        display: flex;
        align-items: center;
        color: rgb(195, 195, 195);
        font-size: 13px;
        font-weight: lighter;
        margin-right: 25px;
        margin-top: 5px;
        img{
            margin-left: 10px; 
        }
    }
 }
 .mini_bottom_section{
    margin-top: 13px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light_grey;
    padding-bottom: 30px;
    margin-bottom:30px; 

    div{
        margin: auto;
        width: 188px;
        font-size: 12px;
        text-align: justify;
        line-height: 140%;
        .blue_title{
            color: $blue_title;
            font-size: 14px;
            margin-bottom: 5px;
            .mini-features-icon{
                margin-top: 5px;
                height: 18px;
                margin-right: 3px;
                }  
        }
    }
    .dark_body_text{
        color: rgb(149, 149, 149);
        font-size: 13px;
        line-height: 140%;
    }
    img{
        box-shadow: 0 0 10px rgb(207, 207, 207);
        
    }
 }

//CONTENT
 .column_layout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    margin-top: -3px;
    .column_layout_body{

        .bottom_section_seo{
            display: flex;
            padding-bottom: 10px;
            img{
                box-shadow: 0 0 10px rgb(207, 207, 207);
                border: 1px solid rgb(205, 205, 205);
                width: 190px;
            }
            .column_small_seo{
                width: 190px;
                font-size: 12px;
                text-align: justify;
                line-height: 140%;
                margin-right: 15px;
            }
            .dark_body_text{
                color: rgb(149, 149, 149);
                font-size: 13px;
                line-height: 140%;
            }
            .blue_title{
                color: $blue_title;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
        .full_width_seo{
            width: 600px;
            line-height: 140%;
            text-align: justify;
            .blue_title{
                color: $blue_title;
                font-size: 14px;
                margin-bottom: 5px;
            }
            .dark_body_text{
                color: rgb(149, 149, 149);
                font-size: 13px;
                line-height: 140%;
            }
        }
    }
    

    .right_column_sub_cont{
        @include flex-center();
        flex-direction: column;
        .right_container_content{
            background: white;
            width: 225px;
            height: 365px;
            box-shadow: 0 0 10px rgb(207, 207, 207);
            border: 1px solid rgb(205, 205, 205);
            padding: 7px;
            margin-left: 10px;

            .small_blue_text{
                color: rgb(98, 160, 213);
                text-align: center;
                font-size: 14px;
            }
            .side_bar_body{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                height: 345px;

                .blue_button_image{
                    height: 40px;
                    width: 180px;
                    background: rgb(43, 125, 193);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 16px;
                    border-radius: 7px;
                    flex-direction: column;
                    margin-left: 8px;
                    margin-bottom: 15px;
                    .light_blue_section{
                        background: rgb(84, 170, 241);
                        height: 20px;
                        width: 178px;
                        border-radius: 20px;
                        align-self: flex-start;
                        margin-top:2px;
                        text-align: center;
                        margin-bottom: -10px;
                        padding-bottom: 10px;
                       
                    }
                    span {
                        margin-bottom: 0px;
                        border-right: 1px solid white;
                        padding-right: 10px;
                        margin-right: 10px;
                        
                    }
                    .title_image_cont{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 11px;
                    }
                }
                .small_grey{
                    color: rgb(176, 176, 176);
                    font-size: 11px;
                    text-align: center;
                    line-height: 150%;
                }
            }
        }
        .seo_content_logo{
            width: 160px;
            margin-top: 8px;
        
        }
    }
    
 }

//FOOTER
 .footer_cont{
    margin-top: 10px;
    img{
        margin-top: 6px;
        width:915px;
        margin-bottom: -4px;
    }
 }


